.header {
  background-color: rgba(3, 67, 3, 0.3);
  color: white;
  display: flex;
  justify-content: space-between; /* This will push logo-container to the left and login-button-container to the right */
  align-items: center;
  width: 100%;
}

.logo-container {
  padding: 10px; /* Adjust padding as needed */
  display: flex;
  align-items: center;
}

.login-button-container {
  padding: 10px; /* Adjust padding as needed */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.login-button {
  background-color: #48664c;
  border-radius: 13px;
  border: 2px solid #FFFFFF;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #FFFFFF;
  color: black;
}

.login-button:active {
  background-color: #FFFFFF;
  color: white;
}

.logo-image {
  max-width: 70px;
  max-height: 70px;
}
