.containers {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 5%;
}

/* Allgemeine Stilregeln für Dropdowns */
select {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* Weitere gewünschte Stileigenschaften hier */
}

/* Stil für das Dropdown-Label */
label[for="styleDropdown"], label[for="lengthDropdown"] {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

/* Stil für die Dropdown-Optionen */
select option {
  font-size: 16px;
  /* Weitere gewünschte Stileigenschaften hier */
}

.input-container {
  min-width: 25%;
  max-width: 25%;
  margin: 10px 10px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  opacity: 0.8;
}

.editor-container {
  min-width: 40%;
  max-width: 40%;
  margin: 10px 10px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor-container form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.angular-editor-wrapper img {
  max-width: 50%;
}


form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

output {
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  height: 100%;
  min-height: 60px;
}

button {
  padding: 10px 20px;
  background-color: #48664c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #54785a;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .container {
    margin: 20px;
    padding: 20px;
  }
}
