.container {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: deepskyblue;
}

label, input, output, button {
  display: block;
  margin: 10px auto;
}

input, output {
  width: 200px;
  padding: 10px;
  height: 200px;
}
