<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div class="containers">
  <div class="input-container">
    <form (ngSubmit)="sendData()">
      <label for="inputField">Input:</label>
      <input type="text" id="inputField" [(ngModel)]="inputText" name="inputText" placeholder="Input your keywords for the newsletter generation" required>
      <label for="outputField">Output:</label>
      <output id="outputField">{{ outputText }}</output>
      <button type="submit">Send</button>
    </form>
  </div>
  <div class="editor-container">
    <label for="outputField">Editor:</label>
    <div>
      <angular-editor placeholder="Text will be generated" [(ngModel)]="outputText" [config]="editorConfig"></angular-editor>
    </div>
    <button type="submit">Send Mail</button>
  </div>
</div>
