.container {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center; /* Zentriere den Inhalt innerhalb des Containers */
  background-color: deepskyblue;
}

label, input, output, button {
  display: block;
  margin: 10px auto; /* Zentriere die Elemente horizontal innerhalb des Containers */
}

input, output {
  width: 200px;
  height: 200px;
}
