.mat-dialog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  opacity: 0.9;
}

.mat-dialog-content {
  padding: 20px;
  background: #f9f9f9 !important;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
  opacity: 0.9;
}

.mat-list-item {
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

.mat-list-item:hover {
  background-color: #e6f2e9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
