<form (ngSubmit)="submitForm()" [formGroup]="form" autocomplete="off">
  <div>
    <label for="username">Username:</label>
    <input
            type="text"
            id="username"
            placeholder="Username"
            formControlName="username"
    />
  </div>

  <div>
    <label for="password">Password:</label>
    <input
            type="password"
            id="password"
            placeholder="Password"
            formControlName="password"
    />
  </div>

  <div>
    <button type="submit">Login</button>
  </div>
</form>
