:root {
    --primary-gradient-start: #b6ffc1;
    --primary-gradient-end: #48664c;
}

body {
  background: linear-gradient(90deg, var(--primary-gradient-start) 0%, var(--primary-gradient-end) 100%);
  padding: 0;
  margin: 0;
}

