
<div class="container">
  <form>
    <label for="email">E-Mail:</label>
    <input type="email" id="email" name="email" required [(ngModel)]="signupObj.email">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required [(ngModel)]="signupObj.userName">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required [(ngModel)]="signupObj.password">

    <button (click)="onSignUp()" type="submit">Sign Up</button>

    <button (click)="navigateToPage('/login') "type="submit">Login</button>
  </form>
</div>

