<div class="containers">
  <div class="list-container">
    <p>Contact Lists</p>
    <ul>
      <li *ngFor="let list of contactLists"
          [class.selected]="list === selectedList"
          (click)="onSelectContactList(list)">
        {{ list.name }}
      </li>
    </ul>
    <div class="button-container">
      <button type="button" (click)="addContactList()">Add</button>
      <button type="button" class="delete-button" (click)="deleteContactList()">Delete</button>
    </div>
  </div>
  <div class="editor-container">
    <textarea [disabled]="!selectedList" [(ngModel)]="selectedContacts"></textarea>
    <div class="button-container">
      <button type="button" (click)="saveContactList()">Save</button>
      <input type="file" class="file-input" (change)="onFileSelect($event)" accept=".csv">
      <button type="button" (click)="triggerFileInput()">Upload CSV</button>
    </div>

  </div>
</div>

